:root {
    /* Primær */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Nøytral */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Typografi */
    --body-font-size: 13px;
    --font-500: 500;
    --font-600: 600;
}

/* Begrenset CSS reset for å balansere gap/padding */
html,
body {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100svh;
}

body {
    min-height: 100%;
    /* Utgangspunkt for videre typografi */
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: var(--font-500);
    font-size: var(--body-font-size);

    /* Bakgrunn */
    background: var(--grey-100);

    /* Sentrer hovedinnhold */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Padding på desktop-skjermer, kanskje unødvendig etter kortene får størrelse */
    padding: 50px;
}

main {
    max-width: 1340px;

    /* 4 x 2 grid, så kan noen elementer "spanne" to kolonner og rader? Mulig det blir vanskelig mtp gap, test */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;

    /*
        filter: drop shadow brukes istedet for box-shaddow for å unngå at skyggen overlapper andre kort
        når jeg ser etter på nytt i oppgaveteksten bes det spesifikt om box-shaddow,
        tror jeg må bruke pseudoelementer og z-index for å få det til eventuelt, litt usikker på hvordan det skal gjøres.
    */
    filter: drop-shadow(
        30px 40px 30px rgba(0, 0, 0, 0.3)
    ); /* Fant ikke riktig farge i style-guide, bruker rgba, mulig jeg har tatt feil farge et annet sted men finner ikke det */
}

@media (max-width: 800px) {
    /* Opprinnelig ber Frontend Mentor om at designet skal fungere på 375px bredde med mobiler, jeg føler layouten blir feil allerede ved 800px og regner med det er greit å velge det som breakpoint. */
    main {
        grid-template-columns: 1fr;

        /* reduser gap på mindre skjermer */
        gap: 30px;

        .testimony.daniel,
        .testimony.patrick {
            /* fjern span verdier ellers skapes nye kolonner tross grid-template-columns: 1fr */
            grid-column-end: initial;
            /* de dobbelt så brede kortene skal nå bli dobbelt så høye */
            grid-row-end: span 2;
        }
        .testimony.kira {
            grid-row-end: initial;
        }
    }

    /* reduser padding på mindre skjermer */
    body {
        padding: 30px;
    }
    div.testimony {
        padding: 30px;
    }
}

.verified {
    font-size: 12px; /* Litt mindre enn navnet */
}

.testimony {
    padding: 30px;
    border-radius: 10px;
}

.testimony.daniel {
    background: var(--purple-500);
    color: var(--grey-100);
    grid-column-end: span 2;

    img {
        border-color: var(--purple-300);
    }
}

.testimony.jonathan {
    background: var(--grey-500);
    color: var(--grey-100);
}

.testimony.jeanette {
    background: var(--white);
}

.testimony.patrick {
    background: var(--dark-blue);
    color: var(--grey-200);
    grid-column-end: span 2;

    img {
        border-color: var(--purple-500);
    }
}

.testimony.kira {
    background: var(--white);
    grid-row-end: span 2;
}

.profile-card img {
    /* Små profilbilder */
    border-radius: 100%;
    border: 3px solid var(--grey-200);
}

/* Grid layout på øvre del av kortene */
.profile-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "img name"
        "img verified";

    img {
        width: 32px;
        grid-area: img;
        margin-right: 10px;
    }

    .name {
        grid-area: name;
        align-self: end;
        margin-bottom: 4px;
    }
    .verified {
        grid-area: verified;
        align-self: start;
    }
}

/* Fra opprinnelig Frontend Mentor fil: */

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
