:root {
    /* Primær */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Nøytral */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Typografi */
    --body-font-size: 13px;
    --font-500: 500;
    --font-600: 600;
}

article {
    /* Midlertidig jelpestyling */
    margin-bottom: 40px;
    display: block;
}

body {
    /* Utgangspunkt for videre typografi */
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: var(--font-500);
    font-size: var(--body-font-size);

    /* Bakgrunn */
    background: var(--grey-100);
}

.verified {
    font-size: 12px; /* Litt mindre enn navnet */
}

.testimony:first-of-type {
    background: var(--purple-500);
    color: white;
    img {
        border-color: var(--purple-300);
    }
}

.testimony:nth-of-type(2) {
    background: var(--grey-500);
    color: var(--grey-100);
}

.testimony:nth-of-type(3) {
    background: var(--white);
}

.testimony:nth-of-type(4) {
    background: var(--dark-blue);
    color: var(--grey-200);
    img {
        border-color: var(--purple-500);
    }
}

.testimony:nth-of-type(5) {
    background: var(--white);
}

.profile-card img {
    /* Små profilbilder */
    border-radius: 100%;
    border: 3px solid var(--grey-200);
}

/* Fra opprinnelig Frontend Mentor fil: */

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
